@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  transition: 0.4s;

}

:root {
  --greencolor: #7cf03d;
  --maincolor: #1f242d;
  --second-bg: #2d343f;
  --text-color: #fff;
  scroll-behavior: smooth !important;
}

::selection {
  background-color: var(--greencolor);
  color: var(--maincolor);
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth !important;
  background: var(--maincolor) !important;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: rgba(31, 36, 45, 0.85);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  transition: .5s;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.navbar .logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--text-color);
}

.navbar .logo:hover {
  color: var(--greencolor);
  text-shadow: 0 0 20px var(--greencolor);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 35px;
}

.navbar ul li a {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  transition: .5s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--greencolor);
}

/* --- HOME SECTION --- */
.home {
  scroll-margin-top: 80px;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 100px 9% 0;
}

.home-info h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-info h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 8px 0 20px;
}

.highlightedtext {
  color: var(--greencolor);
}

.home-info p {
  font-size: 16px;
  line-height: 1.8;
  max-width: 600px;
}

.btn-sci {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 10px;
  background: transparent;
  border: 2px solid var(--greencolor);
  border-radius: 20px;
  color: var(--greencolor);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(124, 240, 61, 0.2);
  transition: .4s;
}

.btn:hover {
  background: var(--greencolor);
  color: var(--maincolor);
  box-shadow: 0 0 25px var(--greencolor);
}

.sci {
  margin-left: 25px;
}

.sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid var(--greencolor);
  border-radius: 50%;
  color: var(--greencolor);
  font-size: 22px;
  margin: 0 10px;
}

.sci a:hover {
  background: var(--greencolor);
  color: var(--maincolor);
  box-shadow: 0 0 15px var(--greencolor);
}

/* ABOUT ME */
.about {
  scroll-margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: var(--maincolor);
  padding: 100px 1%;
}


.about-content h2 {
  font-size: 45px;
  text-align: left;
}

.about-content h2 span {
  color: var(--greencolor);
}

.about-content h3 {
  font-size: 28px;
  margin: 1rem 0;
  color: var(--text-color);
}

.about-content p {
  font-size: 16px;
  margin: 2rem 0;
  line-height: 1.8;
  color: #ccc;
}

.about-content strong {
  color: var(--greencolor);
}


/* EDUCATION TIMELINE */
.education {
  scroll-margin-top: 80px;
  padding: 100px 9%;
}

.education h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background: var(--greencolor);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background: var(--maincolor);
  border: 4px solid var(--greencolor);
  top: 25px;
  border-radius: 50%;
  z-index: 10;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -10px;
}

.timeline-content {
  padding: 25px;
  background: var(--second-bg);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: .5s;
}

.timeline-content:hover {
  border-bottom-color: var(--greencolor);
}

.timeline-content h3 {
  font-size: 20px;
  color: var(--greencolor);
}

.timeline-content p {
  font-size: 15px;
  color: #fff;
  margin: 10px 0;
}

.timeline-content span {
  font-size: 14px;
  font-weight: 600;
  color: #ccc;
}

/* SKILLS & PROJECTS */
.skills,
.projects {
  scroll-margin-top: 80px;
  padding: 100px 9%;
}

.skills h2,
.projects h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.skills-container,
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.skill-card,
.project-card {
  background: var(--second-bg);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: ease-in-out;
}

.skill-card:hover,
.project-card:hover {
  transition: ease-in-out .2ms;
  border-bottom-color: var(--greencolor);
  box-shadow: 0 0 20px rgba(124, 240, 61, 0.2);
}

.skill-card img,
.project-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.1));
}

.skill-card h3,
.project-card h3 {
  color: #fff;
  margin-bottom: 10px;
}

.skill-card p,
.project-card p {
  color: #ccc;
  font-size: 15px;
}

.buttons {
  margin-top: 20px;
}

.buttons a {
  display: block;
  padding: 10px;
  border: 1px solid var(--greencolor);
  color: var(--greencolor);
  border-radius: 8px;
  font-weight: 600;
}

.buttons a:hover {
  background: var(--greencolor);
  color: var(--maincolor);
}

/* GRAPHICS SECTION */
.graphics {
  padding: 100px 9%;
  background: var(--maincolor);
}

.graphics h2 {
  text-align: center;
  margin-bottom: 10px;
}

.sub-text {
  text-align: center;
  color: var(--greencolor);
  margin-bottom: 50px;
  font-size: 15px;
  letter-spacing: 1px;
}

.graphics-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  justify-content: center;
}

.graphic-card {
  background: var(--second-bg);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}

.graphic-card:hover {
  transform: translateY(-10px);
  border-bottom-color: var(--greencolor);
  box-shadow: 0 0 20px rgba(124, 240, 61, 0.3);
}

.graphic-img-box {
  width: 100%;
  height: 280px;
  overflow: hidden;
  background: black;
}

.graphic-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}

.graphic-card:hover .graphic-img-box img {
  transform: scale(1.1);
}

.graphic-info {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.graphic-info h4 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 8px;
}

.graphic-info p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 15px;
  line-height: 1.5;
}

.credit {
  display: block;
  font-size: 12px;
  color: #888;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  margin-top: auto;
}

.credit b {
  color: var(--greencolor);
  font-weight: 500;
}


/* CONTACT SECTION*/
.contact {
  scroll-margin-top: 80px;
  padding: 100px 9%;
}

.contact h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.contact-info {
  flex: 1;
}

.contact-info h2 {
  text-align: left;
  font-size: 30px;
  color: var(--greencolor);
}

.contact-info p {
  margin: 15px 0;
  font-size: 16px;
  color: #ccc;
}

.contact-info a {
  color: var(--greencolor);
  font-weight: 600;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--second-bg);
  padding: 30px;
  border-radius: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  margin-bottom: 15px;
  background: var(--maincolor);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--greencolor);
}

.contact-form button {
  padding: 15px;
  background: var(--greencolor);
  color: var(--maincolor);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

.contact-form button:hover {
  box-shadow: 0 0 20px var(--greencolor);
  transform: scale(1.02);
}

/* FOOTER */
.footer {
  padding: 40px 9%;
  background: var(--second-bg);
  border-top: 1px solid rgba(124, 240, 61, 0.2);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content p {
  color: #ccc;
  font-size: 15px;
}

.socials a {
  color: var(--greencolor);
  font-size: 24px;
  margin-left: 20px;
}

/* RESPONSIVENESS  */

/* BOOTSTRAP HAMBURGER */

.navbar-toggler {
  border-color: var(--greencolor) !important;
  padding: 4px 8px;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(124, 240, 61, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


@media (max-width: 991px) {
  .navbar {
    padding: 15px 5%;
  }


  .navbar-collapse {
    background: var(--second-bg);
    border-radius: 15px;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid rgba(124, 240, 61, 0.2);
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar ul li {
    margin: 10px 0;
    margin-left: 0;
  }
}

@media (max-width: 768px) {

  html,
  body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }

  .btn-sci {
    flex-direction: column;
    gap: 20px;
  }

  .sci {
    margin-left: 0;
  }

  .home-info h1 {
    font-size: 35px;
  }

  .home-info h2 {
    font-size: 24px;
  }


  .timeline::after {
    left: 31px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 20px;
  }

  .timeline-item::after {
    left: 21px;
  }

  .right {
    left: 0;
  }


  .contact-container {
    flex-direction: column;
  }

  .skills-container,
  .projects-container {
    grid-template-columns: 1fr;
  }

  /* Footer Responsiveness */
  .footer-content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .socials {
    margin-left: -20px;
  }
}

.row,
.container,
.container-fluid {
  margin-right: 0 !important;
  margin-left: 0 !important;
  overflow-x: hidden !important;
}

/* --- Responsive for About Section --- */
@media (max-width: 991px) {
  .about {
    gap: 2rem;
    padding: 80px 7%;
  }

  .about-content h2 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
    padding: 60px 5%;
  }

  .about-content h2 {
    text-align: center;
  }

  .about-content p {
    margin: 1.5rem 0;
  }
}

/* -Responsiveness for Gallery section */
@media (max-width: 768px) {
  .graphics-container {
    grid-template-columns: 1fr;
  }

  .graphic-img-box {
    height: 250px;
  }
}